@import "seattletimes";

@base-padding: 16px;
@section-offset: 200px;
@graphic-width: 150px;

.constrained {
  margin: 0 auto;
  max-width: 900px;
  padding: @base-padding;

  .smaller {
    max-width: 600px;
  }
}

header img {
  @media @mobile {
    display: none;
  }
}

h1 {
  font-size: 60px;
  font-family: @df-sans;
  text-shadow: 4px 4px 8px fade(black, 10%);

  @media @mobile {
    font-size: 47px;
  }
}

h2 {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
  font-family: Lato, @df-sans;
  img {
    display: inline-block;
    height: @graphic-width;
    vertical-align: middle;
  }

  &.path-arrow {
    float: right;
    .bump-right > & { margin: 0; }
    img {
      height: 2 * @graphic-width;
    }
    @media @mobile {
      float: none;
      width: 100%;
    }
  }
  &.getting-ready {
    color: #7c91a6;
  }
  &.search-sign {
    color: #00484e;
  }
  &.bidding {
    color: #406647;
  }
}

h3 {
  font-size: 25px;
}

small {
  font-size: 80%;
}

em {
  font-style: normal;
  font-weight: bold;
  font-size: 110%;
}

ul {
  padding-left: @base-padding;
}

section {
  position: relative;

  &.bump-right {
    &::before { left: @graphic-width / 2; }
    & > h2, & > h3, & > p, & > ul, & > .stopwatch, & > .inline-aside { margin-left: @section-offset; }
    aside:not(.inline-aside) { float: left; }
    .ad { float: right; margin-left: @base-padding; }
  }
  &.bump-left {
    &::before {right: @graphic-width / 2; }
    & > h2, & > h3, & > p, & > ul, & > .stopwatch, & > .inline-aside { margin-right: @section-offset; }
    aside:not(.inline-aside) { float: right; }
    .ad { float: left; margin-right: @base-padding; }
    .cash-pile { right: 0; margin-right: @base-padding; }
  }

  @media @mobile {
    &.bump-right, &.bump-left {
      & > h2, & > h3, & > p, & > ul, & > .stopwatch, & > .inline-aside {
        margin-left: auto;
        margin-right: auto;
      }
      .ad {
        float: none;
        margin: 0 auto;
      }
    }
  }

  aside {
    position: relative;
    margin-bottom: 8px;
    width: @graphic-width;
    font-family: @df-sans;
    img {
      display:block;
      margin: 0 auto -10px;
      transition: transform 0.1s ease-in;

      &:hover, &:focus {
        transform: scale(1.5, 1.5);
      }
    }
    p {
      margin: 0;
      box-shadow: 0 16px 16px -8px fade(black, 10%);
      padding: 8px;
      background-color: white;
      font-size: 14px;
    }

    @media @mobile {
      img {
        &:hover, &:focus { transform: none; }
      }
    }
  }

  .inline-aside {
    margin-bottom: @base-padding;
    width: initial;
    img {
      max-width: 80%;
      &:hover, &:focus { transform: none; }
    }
  }

  // vertical path
  &::before {
    position: absolute;
    top: @base-padding;
    bottom: @base-padding;
    width: 2 * @base-padding;
    background:
        linear-gradient(to top, white, transparent 50px),
        linear-gradient(to bottom, white, transparent 50px),
        url(assets/vPath.svg);
    content: "";

    @media @mobile {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.interstitial-wrapper {
  margin: 0 auto;
  padding: 0 @section-offset / 2;
  @media @mobile {
    padding: 0;
  }
}

.interstitial {
  // width: 300px;
  clear: both;
  margin: @base-padding auto;
  height: 2 * @base-padding;
  background:
      linear-gradient(to right, white, transparent 50px),
      linear-gradient(to left, white, transparent 50px),
      url(assets/hPath.svg) repeat-x;
  position: relative;

  @media @mobile {
    margin: 0;
  }
}

.cash-pile {
  position: absolute;
  bottom: -2 * @base-padding;
  width: 100px;
  left: 0;
}

.stopwatch {
  clear: both;
  border: 1px solid @df-light-gray;
  border-radius: 4px;
  margin-bottom: @base-padding;
  font-family: @df-sans;
}

.elapsed {
  font-weight: bold;
  color: @st-dark-red;
}

.price-increase {
  font-weight: bold;
  color: @st-dark-green;
}
