<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", {type: "banner"}) %>

    <header>
      <h1 class="constrained"><%= archieml.story.headline %></h1>
      <div class="byline constrained">
        By <a class="name"><%= archieml.story.author.name %></a>
        <div><%= archieml.story.author.description %></div>
        <div class="date">Originally published: May 16, 2018</div>
      </div>
      <img src="assets/splash.jpg" alt="TK">
    </header>

    <%
      var injectAds = function(markup) {
        var ad = "<?" + t.include("partials/_ad.html", { type: "square" }).trim() + "?>";
        return markup.replace(/~AD~/g, ad);
      }

      var asidePattern = /~ASIDE~(.*)~ASIDE~/g;
      var inline = ['squirrel', 'stamp', 'underwritten', 'local-lenders', 'mirage', 'schedule', 'duplicate', 'pile-flag'];
      var injectAsides = function(markup) {
        return markup.replace(asidePattern, (match, slug) => {
          var data = json.asides[slug];
          if (!data) return "";
          return `<aside class="${inline.includes(slug) ? 'inline-aside' : ''}">
            <img src="assets/aside-graphics/${slug}.png">
            ${data.text ? `<p>${data.text}</p>` : " "}</aside>`;
        });
      };

      var injection = function(markup) {
        return injectAds(injectAsides(markup));
      };

      var markdown = m => t.renderMarkdown(injection(m)).replace(/<\?|\?>/g, "");
    %>

    <main>
      <% archieml.story.sections.forEach((section, i) => { %>
        <section class="constrained <%= (i % 2) ? 'bump-left' : 'bump-right'%>">
          <h2 class="<%= section.headerImage %>">
            <%= section.title || "" %>
            <img src="assets/aside-graphics/<%= section.headerImage %>.png">
          </h2>
        <% section.subsections.forEach((subsection) => { %>
          <% if (subsection.title) { %>
            <h3><%= subsection.title %></h3>
          <% } %>
          <%= markdown(subsection.content) %>
        <% }); %>
        <% if (i > 0) { %>
          <div class="stopwatch constrained smaller">
            In the <span class="elapsed">0 seconds</span> since you started reading this article, the price of your future home has increased by <span class="price-increase">0 cents</span>. <small>(Based on an average increase of $266 per day.)</small>
          </div>
        <% } %>
        </section>
        <div class="constrained interstitial-wrapper">
          <div class="interstitial">
            <img src="assets/cash-pile.svg" class="cash-pile" data-side="<%= (i % 2) ? 'right' : 'left' %>">
          </div>
        </div>
      <% }); %>
    </main>

    <footer class="constrained">
      <%= archieml.story.footer %>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
