<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", {type: "banner"}) %>

    <header>
      <h1 class="constrained"><%= archieml.story.headline %></h1>
      <div class="byline constrained">
        By <a class="name"><%= archieml.story.author.name %></a>
        <div><%= archieml.story.author.description %></div>
        <div class="date">Originally published: May 16, 2018</div>
      </div>
      <img src="assets/splash.jpg" alt="Illustrated map of the complexities of buying a home in Seattle">
    </header>

    <%
      var injectAds = function(markup) {
        var ad = "<?" + t.include("partials/_ad.html", { type: "square" }).trim() + "?>";
        return markup.replace(/~AD~/g, ad);
      }

      var asidePattern = /~ASIDE~(.*)~ASIDE~/g;
      var inline = ['squirrel', 'preapproved', 'local-lenders', 'mirage', 'schedule', 'duplicate', 'letter', 'pile-flag'];
      var injectAsides = function(markup) {
        return markup.replace(asidePattern, (match, slug) => {
          var data = json.asides[slug];
          if (!data) return "";
          return `<aside class="${inline.includes(slug) ? 'inline-aside' : ''}">
            <img src="assets/aside-graphics/${slug}.png" alt="${data.alt}">
            ${data.text ? `<p>${data.text}</p>` : " "}</aside>`;
        });
      };

      var injection = function(markup) {
        return injectAds(injectAsides(markup));
      };

      var markdown = m => t.renderMarkdown(injection(m)).replace(/<\?|\?>/g, "");

      var stopwatchData = {
        1: {
          time: "year",
          increase: "$100,000"
        },
        2: {
          time: "two years",
          increase: "$185,000"
        },
        3: {
          time: "three years",
          increase: "$245,000"
        }
      }
    %>

    <main>
      <% archieml.story.sections.forEach((section, i) => { %>
        <section class="constrained <%= (i % 2) ? 'bump-left' : 'bump-right'%>">
          <h2 class="<%= section.headerImage %>">
            <%= section.title || "" %>
            <img src="assets/aside-graphics/<%= section.headerImage %>.png" alt="<%= section.headerAlt %>">
          </h2>
        <% section.subsections.forEach((subsection) => { %>
          <% if (subsection.title) { %>
            <h3><%= subsection.title %></h3>
          <% } %>
          <%= markdown(subsection.content) %>
        <% }); %>
        <% if (i > 0) { %>
          <div class="stopwatch constrained smaller">
            In the past <span class="pseudo-elapsed"><%= stopwatchData[i].time %></span>, the cost of a median house in King County has gone up <span class="pseudo-price-increase"><%= stopwatchData[i].increase %></span>.
          </div>
        <% } %>
        </section>
        <div class="constrained interstitial-wrapper">
          <div class="interstitial">
            <img src="assets/cash-pile.svg" class="cash-pile" data-side="<%= (i % 2) ? 'right' : 'left' %>" alt="pile of cash">
          </div>
        </div>
      <% }); %>
    </main>

    <footer class="constrained credits">
      <ul>
        <li> <b>Reporter:</b> Mike Rosenberg, <a href="mailto:mrosenberg@seattletimes.com">mrosenberg@seattletimes.com</a>; on Twitter: <a href="https://twitter.com/ByRosenberg">@ByRosenberg</a></li>
        <li> <b>Illustrations and graphics:</b> Emily M. Eng </li>
        <li> <b>Development:</b> Alec Glassford and Thomas Wilburn</li>
        <li> <b>Project editors:</b> Rami Grunbaum and Laura Gordon</li>
      </ul>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
